@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Cars.Pages.Models.CreateModel

@{
    Layout = "_Create";
}

    <body>
        @Html.EditControlsForDropDown(m => m.Item.MarkId, Model.Marks)
        @Html.EditControlsFor(m => m.Item.Name)
        @Html.EditControlsFor(m => m.Item.Country)
        @Html.EditControlsFor(m => m.Item.Description)
        @Html.EditControlsFor(m => m.Item.YearOfManufacture)
    </body>
