@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Cars.Pages.Models.DeleteModel

@{
    Layout = "_Delete";
}

    <body>
        @Html.DisplayControlsFor(m => m.Item.MarkId, Model.GetMarkName(Model.Item.MarkId))
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.Country)
        @Html.DisplayControlsFor(m => m.Item.Description)
        @Html.DisplayControlsFor(m => m.Item.YearOfManufacture)
    </body>
