@page
@using Loppprojekt.Pages.Extensions
@model Loppprojekt.Soft.Areas.Cars.Pages.Generations.DeleteModel

@{
    Layout = "_Delete";
}

    <body>
        @Html.DisplayControlsFor(m => m.Item.MarkId)
        @Html.DisplayControlsFor(m => m.Item.ModelsId)
        @Html.DisplayControlsFor(m => m.Item.Name)
        @Html.DisplayControlsFor(m => m.Item.Country)
        @Html.DisplayControlsFor(m => m.Item.BodyType)
        @Html.DisplayControlsFor(m => m.Item.DrivenWheel)
        @Html.DisplayControlsFor(m => m.Item.Description)
        @Html.DisplayControlsFor(m => m.Item.YearOfManufacture)
    </body>
